body {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(geometric-4076402_1280.png);
  background-size: cover;
}

h2 {
  color:#ffffff;
  text-align: center;
  font-family:Verdana, sans-serif;
}

tr {
    text-align: center;
    color:#DEDCDC;
    background: rgba(30%, 30%, 30%, 0.40);
    font-family:Verdana, sans-serif;
    font-size: 16px;
}

h1 { color: #ffffff;
     font-family: 'Raleway',sans-serif;
     font-size: 62px;
     font-weight: 800;
     line-height: 72px;
     margin: 0 0 24px;
     text-align: center;
     text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  position: absolute;
  left: 25%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  left: 65%;
  position: absolute;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */

  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.button1 button {
  position: absolute;
  top: 44%;
  left: 40%;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  font-size: 20px;

  cursor: pointer;
}

form.button1 button:hover {
  background: #0b7dda;
}

form.button2 button {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  font-size: 20px;

  cursor: pointer;
}

form.button2 button:hover {
  background: #0b7dda;
}
